.contact-card {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background: var(--color-white);
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  border: transparent solid 2px;
  border-radius: 5px;
}

.contact-card:hover {
  border: var(--color-blue) solid 2px;
}

.contact-card * {
  display: inline;
  width: fit-content;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .contact-card {
    display: block;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 5px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact-info p,
.contact-info a {
  display: block;
  padding: 10px;
  border: none;
  border-bottom: #2d5bd1 2px solid;
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}
