html {
  font-family: "Inter";
  --color-gray: #1a1a1a;
  --color-gray-2: #767676;
  --color-gray-3: #dedede;
  --color-white: #fff;
  --color-white-2: #ececec;
  --color-red: #ff0000;
  --color-blue: #2d5bd1;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-gray);
  background: var(--color-white-2);
}

a {
  color: var(--color-gray);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 75rem;
  padding: 0 5px;
  margin: 0 auto;
}
