.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.register-form {
  max-width: 400px;
  background: var(--color-white);
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
}

.register-container label {
  align-self: flex-start;
}

.register-form h3 {
  margin-bottom: 20px;
}

.register-form a {
  color: var(--color-blue);
}

.register-container button {
  margin-top: 20px;
}
